@font-face {
    font-family: Lora;
    src: url(../fonts/Lora-Regular.ttf);
}

@font-face {
    font-family: Lora;
    font-weight: bold;
    src: url(../fonts/Lora-Bold.ttf);
}

@font-face {
    font-family: Lora;
    font-style: italic;
    src: url(../fonts/Lora-Italic.ttf);
}

@font-face {
    font-family: Oswald;
    src: url(../fonts/Oswald-Regular.ttf);
}

@font-face {
    font-family: Oswald;
    font-weight: bold;
    src: url(../fonts/Oswald-Bold.ttf);
}

@font-face {
    font-family: Oswald;
    font-weight: 100;
    src: url(../fonts/Oswald-Light.ttf);
}
