@import './variables';
@import './mixins';

.albums {
    @include section();

    display: flex;
    padding-top: 100px;

    justify-content: center;
}

.player-col {
    margin-left: 200px;
}

.discography__album {
    display: flex;
    margin: 30px 0;

    align-items: center;
}

.album__title {
    @include album-list-text();

    width: 275px;
}

.album__year {
    @include album-list-text();

    position: relative;

    width: 100px;

    text-align: right;

    &:before {
        content: '';

        position: absolute;
        top: 17px;
        left: 0;

        width: 15px;
        height: 15px;

        border-radius: 100%;
        background-color: $lightColor;
    }
}

.album__listen {
    @include button($lightColor, $mainColor);

    margin-left: 60px;
}

.album__buy {
    @include button($mainColor, $lightColor);

    margin-left: 30px;
}

.player__song-title,
.tracklist__time {
    // todo: leave 1 class?
    @include track();
}

.player__song-title--tracklist {
    position: relative;

    cursor: pointer;

    &:before {
        // todo: arrow
        content: '';

        background-color: $lightColor;
    }

    &:hover,
    &.active {
        &:before {
            background-color: $mainColor;
        }
    }
}

.discography__title {
    @include subheader();

    margin: 90px 0 60px;
}

.player__title {
    @include subheader();

    margin-bottom: 50px;
}
