@import './mixins';
$imageHeight: 320px;

.albums {
    @include section();

    display: flex;
    padding-top: 100px;

    justify-content: center;
}

.albums__col {
    width: 40%;
    margin-left: 10%;

    &:first-child {
        margin-left: 0;
    }
}

.albums__album {
    position: relative;

    width: 360px;
    height: $imageHeight;
    margin: 0 auto;
}

%album {
    position: absolute;
    left: 50%;
}

.album__cover {
    @extend %album;

    z-index: 2;

    transition: transform .3s ease-in-out;
    transform: translateX(-60%);

    .albums__album:hover & {
        transform: translateX(-80%);
    }
}

.album__disc {
    @extend %album;

    z-index: 1;
    top: 5px;

    transition: transform .5s ease-in-out;
    transform: translateX(-40%);

    .albums__album:hover & {
        transform: translateX(-20%) rotate(90deg);
    }
}
