@import './fonts';
@import './variables';
@import './placeholders';

body {
    margin: 0;
}

.subheader {
    @extend %oswald-font;

    color: $darkColor;
    font-size: 36px;
    font-weight: 400;
    text-align: center;
}
