@import './variables';
@import './mixins';

@mixin contacts-block() {
    width: 780px;
    margin: 0 auto;
}

@mixin header() {
    @include section-header();

    font-size: 80px;
    line-height: 1.2;
}

@mixin form-field() {
    float: right;

    border: 6px solid $accentedColor;

    line-height: 37px;

    &:focus,
    &:active {
        outline: none;
        box-shadow: none;
    }
}

.contacts {
    @include section();

    height: 714px;
    padding: 170px 0 80px;

    background: $mainColor url(./img/footer_bg.png) center center no-repeat;
}

.contact-info {
    @include contacts-block();

    text-align: center;
    text-transform: uppercase;
}

.contact-info__title {
    @include header();

    color: $accentedColor;
}

.contact-info__phone {
    @include header();
    @include border-dotted($secondaryColor);

    padding-bottom: 30px;

    color: $secondaryColor;
}

.contact-data {
    @include contacts-block();

    margin-top: 40px;
}

.contact-form {
    @include inline-block();

    width: 530px;
}

.contact-form__label {
    @include visually-hidden();
}

.contact-form__input {
    @include form-field();

    width: 51%;
    padding: 0 10px;

    background: transparent;

    color: $accentedColor;
    font-size: 32px;
}

@include placeholder() {
    color: $secondaryColor;
}

.contact-form__submit {
    @include section-header();
    @include form-field();

    padding: 0 4%;

    background-color: $accentedColor;

    color: $secondaryColor;
    font-size: 37px;

    cursor: pointer;
}
