@import './variables';
@import './mixins';

.discography__title {
    @include subheader();

    margin: 90px 0 60px;
}

.discography__album {
    display: flex;
    margin: 30px 0;

    align-items: center;
}

.album__title {
    @include album-title();

    width: 275px;
}

.album__year {
    @include album-title();

    position: relative;

    width: 100px;

    text-align: right;

    &:before {
        content: '';

        position: absolute;
        top: 17px;
        left: 0;

        width: 15px;
        height: 15px;

        border-radius: 100%;
        background-color: $secondaryColor;
    }
}

.album__listen {
    @include button($secondaryColor, $mainColor);

    margin-left: 60px;
}

.album__buy {
    @include button($mainColor, $secondaryColor);

    margin-left: 30px;
}
