@import "./variables";
@import "./placeholders";

.header {
    position: relative;

    width: 1900px;
    height: 964px;

    overflow-x: hidden;

    background-image: url(./img/header_bg.png);
}

.header__right {
    position: absolute;
    top: 0;
    right: 0;

    width: 1000px;
    height: 100%;
}

.header__band-name {
    @extend %oswald-font;

    position: relative;
    z-index: 10;
    top: 50%;

    transform: translateY(-50%);

    font-size: 100px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.band-name__light {
    color: $lightColor;
}

.band-name__dark {
    margin-top: -30px;

    color: $darkColor;
}

.header__words {
    @extend %lora-font;

    position: absolute;
    top: 190px;
    right: 290px;

    color: $mainColor;
    font-size: 12px;
    text-transform: uppercase;
}

.words__col {
    @extend %as-inline-block;

    position: relative;

    margin-right: 20px;

    &:last-item {
        margin-right: 0;
    }
}

.words__col-1,
.words__col-4 {
    top: 105px;
}

.words__col-3 {
    top: 69px;
}

.words__item {
    margin-bottom: 20px;

    &:last-item {
        margin-bottom: 0;
    }
}
