@import './variables';
@import './placeholders';

.members {
    @extend %section;

    background-color: $bgMembersColor;
}

.member__id {
    @extend %inline-block;

    width: 645px;
}

.member__name {
    @extend %oswald-font;

    font-size: 100px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.member__first-name {
    color: $mainColor;
}

.member__last-name {
    margin-top: -30px;

    color: $darkColor;
}

.member__description {
    @extend %inline-block;

    width: 445px;
}

.members__list {
    @extend %lora-font;
    @extend %clearfix;

    display: flex;
    margin: 0;
    padding: 0;

    list-style-type: none;
    justify-content: center;
    align-items: center;
}

.members-list__item {
    display: block;

    transition: color $transitionBaseTime $transitionBaseFunction;
    transform: rotate(-90deg);

    color: $lightColor;
    font-size: 12px;
    font-weight: bold;
    white-space: nowrap;
    text-transform: uppercase;

    cursor: pointer;

    &:hover {
        color: $mainColor;
    }

    &.active {
        color: $mainColor;

        cursor: default;
    }
}

.member__bio-title {
    @extend %oswald-font;

    color: $darkColor;
    font-size: 36px;
    font-weight: normal;
    text-align: center;
}

.member__bio {
    @extend %lora-font;

    color: $darkColor;
    font-size: 18px;
    font-weight: normal;
    line-height: 2;
}
