@import './variables';
@import './placeholders';

.members {
    @extend %section;

    display: flex;
    height: 960px;

    background-color: $bgMembersColor;

    justify-content: center;
}

.member__id {
    @extend %inline-block;

    width: 645px;
}

.member__image {
    position: absolute;
    z-index: 1;
    bottom: 0;
}

.member__name {
    @extend %oswald-font;

    position: absolute;
    z-index: 2;
    top: 610px;

    margin-left: 290px;

    font-size: 100px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.member__first-name {
    color: $mainColor;
}

.member__last-name {
    margin-top: -30px;

    color: $darkColor;
}

.member__description {
    @extend %inline-block;

    width: 445px;
    margin-left: 100px;
    padding-top: 246px;
}

.members__list {
    @extend %lora-font;

    position: relative;
    top: -40px;
    left: -130px;

    transform: rotate(-90deg);
    transform-origin: top right 0;

    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}

.members-list__item {
    transition: color $transitionBaseTime $transitionBaseFunction;

    color: $lightColor;

    cursor: pointer;

    &:hover {
        color: $mainColor;
    }

    &.active {
        color: $mainColor;

        cursor: default;
    }
}

.members-list__cell {
    padding: 13px 0;

    white-space: nowrap;

    &:first-child {
        padding-right: 10px;

        text-align: right;
    }

    &:last-child {
        padding-left: 10px;
    }
}

.members-list__dot {
    @extend %inline-block;

    position: relative;
    top: 2px;

    width: 12px;
    height: 12px;

    transition: background $transitionBaseTime $transitionBaseFunction;

    border-radius: 50%;
    background-color: $lightColor;

    .members-list__item:hover &,
    .members-list__item.active & {
        background-color: $mainColor;
    }
}

.member__bio-title {
    @extend %oswald-font;

    color: $darkColor;
    font-size: 36px;
    font-weight: normal;
    text-align: center;
}

.member__bio {
    @extend %lora-font;

    color: $darkColor;
    font-size: 18px;
    font-weight: normal;
    line-height: 2;
}
