@import './variables';
@import './mixins';
$cellWidth: 150px;
$dotWidth: 24px;

.members {
    @include section();

    display: flex;
    height: 960px;

    background-color: $bgMembersColor;

    justify-content: center;
}

.member__id {
    @include inline-block();

    width: 645px;
}

.member__image {
    position: absolute;
    z-index: 1;
    bottom: 0;
}

.member__name {
    @include section-header();

    position: absolute;
    z-index: 2;
    top: 610px;

    margin-left: 290px;
}

.member__first-name {
    color: $mainColor;
}

.member__last-name {
    margin-top: -30px;

    color: $accentedColor;
}

.member__description {
    @include inline-block();

    width: 445px;
    margin-left: 100px;
    padding-top: 246px;
}

.members__list {
    @include secondary-font();

    width: $cellWidth * 2 + $dotWidth;
    margin: 0 auto;

    transform: rotate(-90deg);

    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}

.members-list__item {
    display: flex;

    transition: color $transitionBaseTime $transitionBaseFunction;

    color: $secondaryColor;

    cursor: pointer;
    flex-display: row;
    justify-content: center;
    align-items: center;

    &:hover {
        color: $mainColor;
    }

    &.active {
        color: $mainColor;

        cursor: default;
    }
}

.members-list__cell {
    @include inline-block();

    width: $cellWidth;
    padding: 13px 0;

    white-space: nowrap;

    &:first-child {
        text-align: right;
    }
}

.members-list__dot {
    width: $dotWidth;

    font-size: 36px;
    line-height: 12px;
    text-align: center;
}

.member__title {
    @include subheader();

    margin: 60px 0 70px;

    text-align: center;
}

.member__bio {
    @include secondary-font();

    color: $accentedColor;
    font-size: 18px;
    font-weight: normal;
    line-height: 2;
}
