@import './variables';
@import './mixins';

.menu {
    position: relative;
    top: 80px;
    left: 205px;

    .menu-item {
        @include menu-font();
        @include menu-item();

        color: $accentedColor;
    }
}
