@import './variables';
@import './mixins';

@mixin date_right() {
    position: relative;
    left: 5px;
}

.tours {
    @include section();

    padding: 85px 0 130px;

    background-color: #f1eeed;
}

.tours__title {
    @include subheader();

    text-align: center;
}

.tours__slider {
    position: relative;
}

.tours__list {
    position: relative;
    top: 70px;

    margin: 0 auto;
    padding-right: 14px;

    transform: rotate(-90deg);
    transform-origin: top right 0;

    border-right: 2px solid $secondaryColor;

    text-align: right;
}

.tours__tour {
    @include secondary-font();

    transition: color $transitionBaseTime $transitionBaseFunction;

    color: $mainColor;
    font-weight: bold;
    text-transform: uppercase;

    cursor: pointer;

    &.past {
        cursor: default;

        &,
        &:hover {
            color: $secondaryColor;
        }
    }

    &.today,
    &:hover {
        color: $accentedColor;
    }

    &.today {
        cursor: default;
    }
}

.tour__content {
    position: relative;

    padding-top: 30px;

    transition: padding $transitionBaseTime $transitionBaseFunction;

    .tours__tour:first-child & {
        padding-top: 0;
    }

    .tours__tour.today & {
        padding-top: 50px;
    }

    .tours__tour.today + .tours__tour & {
        padding-top: 50px;
    }

    &:after {
        content: '';

        position: absolute;
        top: 50%;
        right: -25px;

        width: 14px;
        height: 14px;
        margin-top: 14px;

        transition: background $transitionBaseTime $transitionBaseFunction;

        border-radius: 100%;
        background-color: $mainColor;

        .tours__tour.past &,
        .tours__tour.past:hover & {
            background-color: $secondaryColor;
        }

        .tours__tour.today &,
        .tours__tour:hover & {
            background-color: $accentedColor;
        }

        .tours__tour:first-child & {
            top: 14px;

            margin-top: 0;
        }
    }
}

.tours__tickets {
    width: 1265px;
    height: 275px;
    margin: 0 auto;

    overflow-y: scroll;
}

.tickets__concert {
    display: flex;
    margin: 25px 0;
    padding-bottom: 30px;

    border-bottom: 2px dotted $mainColor;

    align-items: center;
}

.tickets__date {
    @include main-font();

    position: relative;

    width: 90px;
    margin-right: 55px;

    font-size: 20px;
    font-weight: bold;
    line-height: 20px;

    &:after {
        content: '';

        position: absolute;
        top: 0;
        right: -25px;
        bottom: 0;

        width: 5px;

        background-color: $secondaryColor;
    }
}

.tickets__day {
    float: left;

    font-size: 45px;
    line-height: 45px;
}

.tickets__month {
    @include date_right();

    top: 2px;

    text-transform: uppercase;
}

.tickets__year {
    @include date_right();

    top: 4px;
}

.tickets__location {
    @include main-font();

    font-size: 25px;
}

.tickets__buy {
    @include button($mainColor, $secondaryColor);

    margin-left: auto;
}
