@import '../variables';
@import './fonts';

@mixin track() {
    @include lora-font();

    color: $mainColor;
    font-size: 18px;
    font-style: italic;
}

@mixin album-title() {
    @include oswald-font();

    color: $darkColor;
    font-size: 30px;
    font-weight: 300;
}
