@import '../variables';
@import './fonts';

@mixin track() {
    @include secondary-font();

    color: $mainColor;
    font-size: 18px;
    font-style: italic;
}

@mixin album-title() {
    @include main-font();

    color: $accentedColor;
    font-size: 30px;
    font-weight: 300;
}
