@import './fonts';
@import '../variables';

@mixin section() {
    position: relative;

    width: 1900px;

    overflow-x: hidden;
}

@mixin inline-block() {
    display: inline-block;
    vertical-align: top;
}

@mixin clearfix() {
    &:after,
    &:before {
        content: '';

        display: table;

        clear: both;
    }
}

@mixin subheader() {
    @include oswald-font();

    color: $darkColor;
    font-size: 36px;
    font-weight: 400;
}
