@import './fonts';
@import './common';
@import '../variables';

@mixin menu-font() {
    @include secondary-font();

    font-size: $fontSizeMenu;
    font-weight: bold;
    text-transform: uppercase;
}

@mixin menu-item() {
    @include inline-block();

    position: relative;

    margin-right: 25px;

    cursor: pointer;

    &:before {
        content: '';

        position: absolute;
        bottom: -5px;
        left: 0;

        width: 0;
        height: 3px;

        transition: width $transitionBaseTime $transitionBaseFunction;

        background-color: $mainColor;
    }

    &:hover:before {
        width: 100%;
    }

    &:after {
        content: '';

        position: absolute;
        top: 10px;
        right: -17px;

        width: 5px;
        height: 5px;

        border-radius: 100%;
        background-color: $mainColor;
    }

    &:last-child {
        margin-right: 0;

        &:after {
            display: none;
        }
    }
}

@mixin section() {
    position: relative;

    width: 1900px;

    overflow-x: hidden;
}

@mixin section-header() {
    @include main-font();

    font-size: $fontSizeSectionHeader;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

@mixin subheader() {
    @include main-font();

    color: $accentedColor;
    font-size: 36px;
    font-weight: 400;
}

@mixin button($bgColor, $fontColor) {
    @include main-font();

    padding: 5px 17px;

    transition: all $transitionBaseTime $transitionBaseFunction;

    border: none;
    background-color: $bgColor;

    color: $fontColor;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;

    cursor: pointer;

    &:hover {
        background-color: $fontColor;

        color: $bgColor;
    }

    &:active,
    &:focus {
        outline: none;
    }
}
