@import '../variables';

@mixin inline-block() {
    display: inline-block;
    vertical-align: top;
}

@mixin clearfix() {
    &:after,
    &:before {
        content: '';

        display: table;

        clear: both;
    }
}

@mixin border-dotted($color: $mainColor, $size: 2) {
    background-image: linear-gradient(to right, $color (5% * $size), rgba(255, 255, 255, 0) 0%);
    background-position: bottom;
    background-size: (10px * $size) (1px * $size);
    background-repeat: repeat-x;
}

@mixin visually-hidden() {
    &:not(:focus):not(:active) {
        position: absolute;

        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;

        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
    }
}

@mixin placeholder() {
    ::-webkit-input-placeholder {
        @content;
    }

    :-moz-placeholder{
        @content;
    }

    ::-moz-placeholder {
        @content;
    }

    :-ms-input-placeholder {
        @content;
    }
}
