%section {
    position: relative;

    width: 1900px;

    overflow-x: hidden;
}

%inline-block {
    display: inline-block;
    vertical-align: top;
}

%clearfix {
    &:after,
    &:before {
        content: ' ';

        display: table;

        clear: both;
    }
}
